{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Original Gadget - Из Москвы с любовью | Cart</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="{% static 'img/core-img/search.png' %}" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        {% include 'header.html' %}

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Shopping Cart</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Command</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for product in cart %}
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="{% url 'product_details' category=product.category product=product.slug %}">
                                                {% if product.images %}
                                                    <img src="{% static product.path_to_img|add:product.images.0 %}" alt="{{ product.title }}">
                                                {% else %}
                                                    <img src="{% static 'img/product-img/no_image_1.jpg' %}" alt="нет картинки">
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{ product.title }}</h5>
                                        </td>
                                        <td class="price">
                                            <span>{{ product.price }} ₽</span>
                                        </td>
                                        <td class="delete_button">
                                            <a href="{% url 'cart:remove_from_cart' product_id=product.id %}"><img src="{% static 'img/core-img/trash-can.png' %}"> Delete </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>total:</span> <span>{{ total_price_of_cart }} ₽</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <form method="post" action="{% url 'cart:send_order' %}" onsubmit="return validateForm()">
                                    <input class="phone-or-telegram w-100" name='contact_info' placeholder="@telegram или телефон" autocomplete="off" id="telegram">
                                    {%csrf_token%}
                                    <button type="submit" name="addtocart" value="5" class="btn amado-btn w-100">
                                    Оформить заказ
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    {% include 'footer.html' %}

</body>

</html>
<!--Скрипт проверки заполнения формы telegram-->
<script>
    function validateForm() {
        var inputField = document.getElementById("telegram");
        var inputValue = inputField.value.trim();  // Удаляем пробелы в начале и конце

        if (inputValue === "") {
            alert("Пожалуйста, введите @telegram или телефон.");
            return false;  // Останавливаем отправку формы
        }

        return true;  // Разрешаем отправку формы
    }
</script>