{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Магазин техники Apple OriginalGadget - Из Москвы с любовью | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">

</head>

<body>
    <!-- Search Wrapper Area Start -->

    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt="Original Gadget logo"></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        {% include 'header.html' %}

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'buy_line' line='mac-mini' %}">
                        <img src="{% static 'img/bg-img/1.jpg' %}" alt="mac mini">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Looks small. Lives large.</p>
                            <h4>Mac Mini</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'buy_line' line='iphone-16-pro' %}">
                        <img src="{% static 'img/bg-img/2.jpg' %}" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Strength. Beauty.Titanium.</p>
                            <h4>iPhone 16 Pro</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'buy_line' line='apple-watch-ultra-2' %}">
                        <img src="{% static 'img/bg-img/3.jpg' %}" alt="apple watch ultra 2">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Survival of the toughest</p>
                            <h4>Apple Watch Ultra 2</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'buy_line' line='apple-tv-4k'%}">
                        <img src="{% static 'img/bg-img/4.jpg' %}" alt="Apple TV 4K">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Cinematic in every sense</p>
                            <h4>Apple TV 4K</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'buy_line' line='apple-watch-series-10'%}">
                        <img src="{% static 'img/bg-img/5.jpg' %}" alt="apple watch series 10">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Thinstant classic.</p>
                            <h4>Apple Watch Series 10</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'buy_line' line='macbook-pro' %}">
                        <img src="{% static 'img/bg-img/6.jpg' %}" alt="Macbook Pro">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Make it a command performance</p>
                            <h4>Macbook Pro</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'buy_line' line='ipad' %}">
                        <img src="{% static 'img/bg-img/7.jpg' %}" alt="iPad">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Lovable. Drawable. Magical.</p>
                            <h4>iPad</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'buy_line' line='imac' %}">
                        <img src="{% static 'img/bg-img/8.jpg' %}" alt="iMac">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Brilliant</p>
                            <h4>iMac</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'buy_line' line='home-pod-mini' %}">
                        <img src="{% static 'img/bg-img/9.jpg' %}" alt="Home Pod mini">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Nothing short of amazing</p>
                            <h4>Home Pod mini</h4>
                        </div>
                    </a>
                </div>
            </div>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7cc6ecb115bc1ddfa67c168a3b0e6119970e8b954133c1c251df309d09bf512e&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    {% include 'footer.html' %}

</body>

</html>