{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Купить {{product.full_name}} в магазине техники Apple Original Gadget - Из Москвы с любовью</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}" type="image/x-icon">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/core-img/logo.png' %}" alt="Original Gadget logo">
                    <img src="{% static 'img/core-img/hat.png' %}" alt="Christmas Hat" class="mobile_hat">
                </a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        {% include 'header.html' %}

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'buy_category' category=category|slugify %}">{{ category }}</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'buy_line' line=product.line|slugify %}">{{ product.line }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'product_details' category=category|slugify product=product.slug %}">{{product.title}}</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                {% if product.images %}
                                    <ol class="carousel-indicators">
                                        {% for image in product.images %}
                                        <li {% if forloop.first %}class="active"{% endif %} data-target="#product_details_slider" data-slide-to="{{ forloop.counter0 }}" style="background-image: url('{% static product.path_to_img|add:image %}');">{{ image }}</li>
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                        {% for image in product.images %}
                                        <div {% if forloop.first %}class="carousel-item active"{% endif %} class="carousel-item">
                                            <a class="gallery_img" href="{% static product.path_to_img|add:image %}">
                                                <img class="d-block w-100" src="{% static product.path_to_img|add:image %}" alt="{{ product.line }}">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <ol class="carousel-indicators">
                                        <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url('{% static 'img/product-img/no_image_1.jpg' %}');">image</li>
                                        <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url('{% static 'img/product-img/no_image_2.jpg' %}');">image</li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" class="carousel-item">
                                        <a class="gallery_img" href="{% static 'img/product-img/no_image_1.jpg' %}">
                                            <img class="d-block w-100" src="{% static 'img/product-img/no_image_1.jpg' %}" alt="no image">
                                        </a>
                                        </div>
                                        <div class="carousel-item" class="carousel-item">
                                            <a class="gallery_img" href="{% static 'img/product-img/no_image_2.jpg' %}">
                                                <img class="d-block w-100" src="{% static 'img/product-img/no_image_2.jpg' %}" alt="no image">
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">₽{{product.price}}</p>
                                    <h6>{{product.full_name}}</h6>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="review">
                                        <a href="https://market.yandex.ru/business--original-gadget/115386042" target="_blank">Мы на Yandex Market</a>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="{% if product_in_cart %}get{% else %}post{% endif %}" action="{% if product_in_cart %}{% url 'cart' %}{% else %}{% url 'cart:cart_add_from_product' product_id=product.id %}{% endif %}">
                                {% csrf_token %}
                                <button type="submit" name="addtocart" value="5" class="btn amado-btn">
                                    {% if product_in_cart %}
                                        Go to cart
                                    {% else %}
                                        Add to cart
                                    {% endif %}
                                </button>
                            </form>

                            <div class="short_overview my-5">
                                <p>{{product.description|safe}}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    {% include 'footer.html' %}

</body>

</html>