{% load static %}
<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/core-img/logo.png' %}" alt="Original Gadget logo">
            <img src="{% static 'img/core-img/hat.png' %}" alt="Christmas Hat" class="hat">
        </a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            {% for category in categories %}
                <li class="{% if category == current_category %}active{% endif %}"><a href="{% url 'buy_category' category|slugify %}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <!-- Button Group -->

    <!-- Cart Menu -->
    <div class="cart-fav-search mb-100">
        <a href="{% url 'cart' %}" class="cart-nav"><img src="{% static 'img/core-img/cart.png' %}" alt="корзина"> Cart <span id="cart-count">({{ cart|length }})</span></a>
        <a href="tel:+79855510285">📞 +7-985-551-02-85</a>
        <a href="https://t.me/OriginalGadgetMSK" target="_blank">💬 telegram</a>
        <a href="https://market.yandex.ru/business--original-gadget/115386042" target="_blank"><img src="{% static 'img/core-img/ya-market.png' %}" alt="корзина">YandexMarket</a>
    </div>
    <!-- Social Button -->

</header>
<!-- Header Area End -->
